@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #F3F5FC;
    --color-secundario: #ffffff;
    --color-texto-primario: #0A3871;
    --color-texto-secundario: #495057;
    --color-texto-terciario: #343A40;
    --color-botón-primario: #0A3871;
    --color-botón-secundario: #D8DFE8;
    --color-botón-texto-primario: #FFFFFF;
    --color-botón-texto-secundario: #0A3871;

    --fuente-Inter: "Inter", sans-serif;
}

*{
    font-family: var(--fuente-Inter);
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-color: var(--color-botón-secundario);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.header .imagen-header{
    max-height: 50px;
    margin-right: 20px;
}

body{
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.primera-seccion{
    background-color: var(--color-secundario);
    flex: 1;
    border-radius: 32px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text-1{
    width: 100%;
    height: 50%;
    border: 2px solid var(--color-texto-primario);
    border-radius: 16px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.advertencia-1{
    font-size: 14px;
    margin-bottom: 20px;
}

.boton-encriptar{
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--color-botón-primario);
    color: var(--color-botón-texto-primario);
}

.boton-desencriptar {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--color-botón-secundario);
    color: var(--color-botón-texto-secundario);
}

.segunda-seccion{
    background-color: var(--color-secundario);
    border-radius: 32px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.segunda-seccion .Muñeco{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.segunda-seccion-texto-1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.segunda-seccion-texto-2{
    font-size: 14px;
}

.boton-copiar{
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--color-botón-secundario);
    color: var(--color-botón-texto-secundario)
}

footer{
    width: 100%;
    background-color: var(--color-botón-secundario);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}